<!DOCTYPE html>
<html>
<head>
  <title>Simulation project 1</title>
  <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <link href="/font/icon" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
  <style>
      table.striped > tbody > tr:nth-child(2n) {
          background-color: #f0f4c3;
      }

      td, th {
          text-align: center !important;
      }

  </style>

  <link rel="stylesheet" href="amcharts/style.css" type="text/css">

  <script src="amcharts/amcharts.js" type="text/javascript"></script>
  <script src="amcharts/serial.js" type="text/javascript"></script>
  <script src="amcharts/amstock.js" type="text/javascript"></script>

</head>
<body class="indigo lighten-5">
<div class="container">
  <%= yield %>
</div>

</body>
</html>

