<form action="single" method="post">
  <div class="row">
  <div class="input-field">
  <label>Interarrival time distribution: (for:[1,2,3,4] mins)</label><br>
  <select id="interarrival" name="post[interarrival]">
    <option value="1">UNIFORM: [0.25,0.25,0.25,0.25]</option>
    <option value="2">EXPONENTIAL: [0.07, 0.13, 0.26, 0.54]</option>
    <option value="3">NORMAL: [0.17, 0.33, 0.33, 0.17]</option>
    <option value="4" selected>DEFAULT</option>
  </select>
  </div></div>
  <div class="row">
  <div class="input-field">
  <label>Able service time distribution: (for:[2,3,4,5] mins)</label><br>
  <select id="able" name="post[able]">
    <option value="1">UNIFORM: [0.25,0.25,0.25,0.25]</option>
    <option value="2">EXPONENTIAL: [0.07, 0.13, 0.26, 0.54]</option>
    <option value="3">NORMAL: [0.17, 0.33, 0.33, 0.17]</option>
    <option value="4" selected>DEFAULT</option>
  </select>
  </div></div>
  <div class="row">
  <div class="input-field">
  <label>Baker service time distribution: (for:[3,4,5,6] mins)</label><br>
  <select id="baker" name="post[baker]">
    <option value="1">UNIFORM: [0.25,0.25,0.25,0.25]</option>
    <option value="2">EXPONENTIAL: [0.07, 0.13, 0.26, 0.54]</option>
    <option value="3">NORMAL: [0.17, 0.33, 0.33, 0.17]</option>
    <option value="4" selected>DEFAULT</option>
  </select>
  </div></div>
  <div class="row">
  <div class="input-field">
  <label for="callers">Number of callers:</label>
  <input id="callers" type="number" name="post[callers]">
  </div></div>
  <div class="row">
  <div class="input-field">
  <label for="sims">Number of simulations:</label>
  <input id="sims" type="number" name="post[sims]">
  </div>
  <div class="input-field">

    <button class="btn waves-effect waves-light" type="submit" name="action">
      <i class="material-icons right"></i>Simulate
    </button>

  </div></div>
</form>
<script>
  $(document).ready(function() {
    $('select').material_select();
  });
</script>